[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/puppetlabs/puppetlabs-nginx.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
